<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>

    <ion-title>Reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reserva</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="ReservacionForm" (ngSubmit)="agregarReservacion(ReservacionForm.value)">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="nombre" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Numero de personas</ion-label>
            <ion-input formControlName="n_personas" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Tipo de mesa</ion-label>
            <ion-input formControlName="tipo_mesa" type="text"></ion-input>
          </ion-item>          
<!---          <ion-item>
            <ion-label position="floating">Tipo de mesa</ion-label>
            <ion-select class="ion-text-end" formControlName="tipo_mesa" type="text"></ion-input>
               <ion-select-option value="1">Ventana - Piso1</ion-select-option>
               <ion-select-option value="2">Ventana - Piso2</ion-select-option>
               <ion-select-option value="3">Dentro - Piso1</ion-select-option>
               <ion-select-option value="4">Dentro - Piso2</ion-select-option>
            </ion-select>
         </ion-item>     -->
          <ion-item>
            <ion-label position="floating">Hora de la reservacion</ion-label>
            <ion-input formControlName="hora_reservacion" type="time"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Fecha</ion-label>
            <ion-input formControlName="fecha" type="date"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input formControlName="correo" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Telefono</ion-label>
            <ion-input formControlName="telefono" type="number"></ion-input>
          </ion-item>

          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button expand="full" type="submit">Reserva ahora</ion-button>
            </ion-col>
          </ion-row>          
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
